[Desktop Entry]
Comment=Animations for opening and closing windows and popups. Its not Ready to use, but you can experiment with it. Check the readme file to change the effects(~/.local/share/kwin/effects/kwinDevEffect/Readme.md).
Encoding=UTF-8
Icon=
Name=kwinDevEffects
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=gearcoded
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kwinDevEffect
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=KWin/Effect
X-Plasma-API=javascript
X-Plasma-DefaultSize=200,100
X-Plasma-MainScript=code/kwinDevEffect.js
X-Plasma-RemoteLocation=
